<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
</head>
<body style="background-color: gray;">
  <h2>Ingreso al sistema</h2>
  <form id="formLogin">
    <label>DNI:</label><br>
    <input type="text" id="dni" name="dni" required><br><br>

    <label>Contraseña:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <label>N° de E:</label><br>
    <input type="text" id="nro_escuela" name="nro_escuela" required><br><br>

    <label>N° de M:</label><br>
    <input type="text" id="nro_mesa" name="nro_mesa" required><br><br>

    <button type="submit">Ingresar</button>
  </form>
<p>¿No tienes cuenta? <a href="/registro">Registrate aquí</a></p>

  <script>
    document.getElementById("formLogin").addEventListener("submit", async (e) => {
      e.preventDefault();
      const datos = {
        dni: document.getElementById("dni").value,
        password: document.getElementById("password").value,
        nro_escuela: document.getElementById("nro_escuela").value,
        nro_mesa: document.getElementById("nro_mesa").value
      };

      const res = await fetch("/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(datos)
      });
      const data = await res.json();

      if (data.success) {
        alert("Login exitoso");
        window.location.href = "/"; // o a donde quieras redirigir
      } else {
        alert(data.error || "Error al iniciar sesión");
      }
    });
  </script>
</body>
</html>
